.ks-thumbs {
	list-style: none;
	width: 990px;
	overflow:hidden;
	margin: 20px auto;
	padding: 0;
}
.ks-thumbs li {
	float: left;
	margin: 5px;
	background: #fff;
	padding: 8px;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.ks-thumbs li a,
.ks-thumbs li a img {
	display: block;
	position: relative;
}
.ks-thumbs li a {
	overflow: hidden;
}
.ks-thumbs li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}



.ks-slider-item {
	position: absolute;
	background: rgba(75,75,75,0.7);
	width: 100%;
	height: 100%;
}
.ks-slider-item {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/* Initial state classes: */
.ks-slideFromTop {
	left: 0px;
	top: -100%;
}
.ks-slideFromBottom {
	left: 0px;
	top: 100%;
}
.ks-slideFromLeft {
	top: 0px; 
	left: -100%;
}
.ks-slideFromRight {
	top: 0px;
	left: 100%;
}
/* Final state classes: */
.ks-slideTop,
.ks-slideBottom {
	top: 0px;
}
.ks-slideLeft,
.ks-slideRight {
	left: 0px;
}
